<p class="h3"> Añadir comentario</p>
<br/>
<form method="post" action="/quizes/<%=quizId%>/comments" class="form center-block width50">

	<input class="form-control" type="text" id="comment" name="comment[texto]" placeholder="Introduce tu comentario"/>
	<br/>
	<button type="submit" class="form-control btn btn-success"> Enviar </button>

</form>