<p> Añadir cometario</p>

<form method="post" action="/quizes/<%=quizId%>/comments">
	<input type="text" id="comment" name="comment[texto]" placeholder="Introduce tu comentario"/>
	<button type="submit"> Enviar </button>
</form>