
<div id="author">
	<ul>
		
		<li><h3>Autor:</h3> Med Gasan (Francisco Manuel Medina García)</li>
		<li><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10985545_10205742634345993_2860689086200226527_n.jpg?oh=e5b937a3631eadaea6dfc36f1b69f03d&oe=5615B322&__gda__=1447623605_7d35ae45db88698859f08f9ca802f9da"/></li>
		
		<li><h3>Apps Store:</h3> <a href="https://play.google.com/store/apps/developer?id=Neoofcom" target="_blank"> https://play.google.com/store/apps/developer?id=Neoofcom </a></li>
		
		<li>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/nfI_szSMGoA" frameborder="0" allowfullscreen></iframe>
		</li>

	</ul>
</div>