body             { background: #333; }

h2 span, section h3 { display: none; }
body                { font-size: xx-large; }
footer, input       { font-size: large; }

nav li {
	float: left;
	width: 32%;
}